<div class="tropicanolist">
    <div >
        <h2 > Our people</h2>
    </div>
    <div id="filterform" >
        Adults <input type="checkbox" name="adults" [(ngModel)]="filter.adults" />
        Children <input type="checkbox" name="children" [(ngModel)]="filter.children" />
        <br />
        No education <input type="checkbox" name="none" [(ngModel)]="filter.none" />
        Hs education <input type="checkbox" name="hs" [(ngModel)]="filter.hs" />
        College education <input type="checkbox" name="college" [(ngModel)]="filter.college" />
        <br />

        Matches: {{getFilteredTropicanos().length}} <br />
        Votes: {{getVotes()}}
    </div>
    <div class="w3-row" id="items">
        <app-tropicano [tropicano]="t" *ngFor="let t of getFilteredTropicanos()" class="w3-quarter">

        </app-tropicano>

    </div>
</div>
