<app-menu></app-menu>



<!--<div id="menu" class="w3-bar w3-brown w3-padding w3-round-large w3-center">
    <a routerLink="" class="w3-bar-item w3-button w3-hover-light-brown"> Home </a>
    <a routerLink="tropicanos" class="w3-bar-item w3-button w3-hover-light-brown"> Tropicanos </a>
    <a routerLink="buildings" class="w3-bar-item w3-button w3-hover-light-brown"> Buildings </a>
</div>
*/-->
<!-- Componente attualmente visualizzato -->
<div class="w3-container w3-light-grey w3-padding-16">
    <router-outlet></router-outlet>
</div>
