<div class="tropicanostats" style="background-color: #f7e6d0; padding: 20px;">
    <h2 class="w3-brown"> Population Statistics </h2>
    <h3 class="w3-light-brown"> Education </h3>
    <p>No education: <strong>{{education().none}}</strong></p>
    <p>High school: <strong>{{education().hs}}</strong></p>
    <p>College: <strong>{{education().college}}</strong></p>


    <h2 class="w3-brown"> Demographic statistics </h2>
    <h3 class="w3-light-brown"> Demographic </h3>
    age average: {{this.statistics.avgage}} <br />
    età mediana: {{this.statistics.agemedian}} <br />
    totale adulti: {{this.statistics.adults}} <br />
<h2 class="w3-brown"> Politics statistics </h2>
    <h3 class="w3-light-brown"> Politics </h3>
    avg satisfaction: {{this.statistics.avgsatisfaction}} <br />
    left people: {{this.statistics.leftpeople}} <br />
    right people: {{this.statistics.rightpeople}} <br />






</div>


