@import url('https://www.w3schools.com/w3css/4/w3.css');

.w3-hover-shadow {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

h2
{
    padding: 5px;
}


a
{
text-decoration: none;
}

#menu a:hover 
{
    font-weight: bold;
    color: green;
}