<div class="tropicano">
  <div class="w3-card w3-white w3-margin w3-padding w3-round-large w3-hover-shadow">
      <div class="w3-row">
        <!-- Name and Surname in teal on the first row -->
        <div class="w3-col s12 w3-teal w3-padding-small w3-round-top">
          <h3>{{ tropicano.name }} {{ tropicano.surname }}</h3>
        </div>
      </div>
    
      <div class="w3-row">
        <!-- Tropicano details on the second row and below -->
        <div class="w3-col s12 w3-padding">
          <p><strong>ID:</strong> {{ tropicano.id }}</p>
          <p><strong>Birth Year:</strong> {{ tropicano.birthyear }}</p>
          <p><strong>Gender:</strong> {{ tropicano.gender }}</p>
          <p><strong>Education:</strong> {{ tropicano.education }}</p>
          <p><strong>Party:</strong> {{ tropicano.party }}</p>
          <p><strong>Satisfaction:</strong> {{ tropicano.satisfaction }}</p>
        </div>
      </div>
    </div>
</div>

