<div class="w3-card-4 w3-teal w3-padding">
    <header class="w3-container w3-teal">
      <h2>{{ tropicano.name }} {{ tropicano.surname }}</h2>
    </header>
  
    <div class="w3-container">
      <p><strong>ID:</strong> {{ tropicano.id }}</p>
      <p><strong>Birth Year:</strong> {{ tropicano.birthyear }}</p>
      <p><strong>Gender:</strong> {{ tropicano.gender }}</p>
      <p><strong>Education:</strong> {{ tropicano.education }}</p>
      <p><strong>Political Party:</strong> {{ tropicano.party }}</p>
      <p><strong>Satisfaction:</strong> {{ tropicano.satisfaction }}%</p>
    </div>
  
    <footer class="w3-container w3-teal w3-margin-top">
      <p>Tropicano Profile</p>
    </footer>
  </div>
  