<div class="formnewtropicano" style="background-color: #f7e6d0; padding: 20px;">
    <h2 class="w3-brown"> New Tropicano </h2>
    <form #f="ngForm">
        <label>Name</label>
        <input class="w3-input w3-border w3-light-gray" required type="text" name="name" [(ngModel)]="tropicano.name" />

        <label>Surname</label>
        <input class="w3-input w3-border w3-light-gray" required type="text" name="surname" [(ngModel)]="tropicano.surname" />

        <label>Birthyear</label>
        <input class="w3-input w3-border w3-light-gray" required type="number" name="birthyear" [(ngModel)]="tropicano.birthyear" min="1900" />

        <label>Gender</label>
        <select name="gender" [(ngModel)]="tropicano.gender" required class="w3-input w3-border w3-light-gray">
            <option value="M">Male</option>
            <option value="F">Female</option>
        </select>

        <label>Party</label>
        <select name="party" [(ngModel)]="tropicano.party" required class="w3-input w3-border w3-light-gray">
            <option value="LEFT">LEFT</option>
            <option value="RIGHT">RIGHT</option>
        </select>

        <label>Education</label>
        <select name="education" [(ngModel)]="tropicano.education" required class="w3-input w3-border w3-light-gray">
            <option value="NONE">None</option>
            <option value="HS">High School</option>
            <option value="COLLEGE">College</option>
        </select>

        <label>Satisfaction</label>
        <input class="w3-input w3-border w3-light-gray" required type="number" name="satisfaction" [(ngModel)]="tropicano.satisfaction" min="0" max="100" />
        <br />

        <button (click)="save()" [disabled]="!f.valid" class="w3-btn w3-brown w3-input"> Save </button>
    </form>
</div>
